<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/mobile-gallery.css"> 
    <link rel="icon" href="public/img/icon.svg">
    <script src="https://kit.fontawesome.com/8ac407c03d.js" crossorigin="anonymous"></script>
    <title>Fished - osiągnięcia</title>
</head>


<body>
    <div class = "base-container">
        <nav>
            <div class="return">
                <a href="#">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>
        </nav>

        <main>
            <div class="achievements">
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>

                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
                
                <div>
                    <p>I miejsce</p>
                    <p>Puchar Kocinki</p>
                    <div class = "cup-photo"></div>
                </div>
            </div>
        </main>
    </div>
</body>