<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/competition.css"> 
    <link rel="icon" href="public/img/icon.svg">
    <script src="https://kit.fontawesome.com/8ac407c03d.js" crossorigin="anonymous"></script>
    <title>Fished - zawody</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class ="return">
                <a href="#">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>
        </nav>

        <main>
            <div class="informations">
                <h1>Zawody</h1>
                <h3>21.11.2021r.</h3>
                <h3>Niepołomice</h3>
                <div>
                    <div>
                        <p>zbiórka: 6:30</p>
                        <p>start: 8:00</p>
                    </div>
                    <div>
                        <p>sektor: B</p>
                        <p>stanowisko: 15</p>
                    </div>
                </div>
            </div>

            <div class="desktop-view">
                <div class="news">
                    <div class="inner-news">
                        <div>
                            <div>
                                <p>Wiadomość</p>
                                <p>1h ago</p>
                            </div>
                            <div class="photo"></div>
                        </div>
                    </div>
                </div>
    
                <map class="map">
                    <div></div>
                </map>
    
                <div class="icons">
                    <div class="score-list">
                        <a href="#">
                            <i class="fas fa-trophy"></i>
                        </a>
                    </div>
                    
                    <div class="uploaded-photos">
                        <a href="#">
                            <i class="fas fa-images"></i>
                        </a>
                    </div>
    
                    <div class="attendees">
                        <a href="#">
                            <i class="fas fa-users"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mobile-view">
                <div class="map-icon">
                    <a href="#">
                        <i class="fas fa-map"></i>
                    </a>
                </div>

                <div class="return-mobile">
                    <a href="#">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </a>
                </div>
                
                <div class="uploaded-photos-mobile">
                    <a href="#">
                        <i class="fas fa-images"></i>
                    </a>
                </div>

                <div class="news-mobile">
                    <a href="#">
                        <i class="fas fa-bell"></i>
                    </a>
                </div>

                <div class="score-list-mobile">
                    <a href="#">
                        <i class="fas fa-trophy"></i>
                    </a>
                </div>

                <div class="attendees-mobile">
                    <a href="#">
                        <i class="fas fa-users"></i>
                    </a>
                </div>
            </div>
        </main>
    </div>
</body>