<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css"> 
    <link rel="icon" href="../img/icon.svg">
    <script src="https://kit.fontawesome.com/8ac407c03d.js" crossorigin="anonymous"></script>
    <title>Fished - strona główna</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <ul>
                <li> 
                    <a href="#"> 
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            <section class="competitions">
                <div>zawody 1</div>
                <div>zawody 2</div>
                <div>zawody 3</div>
                <div>zawody 4</div>
            </section>
        </main>
    </div>
</body>