<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/mainpage.css"> 
    <link rel="icon" href="../img/icon.svg">
    <script src="https://kit.fontawesome.com/8ac407c03d.js" crossorigin="anonymous"></script>
    <title>Fished - strona główna</title>
</head>

<body>
    <div class="base-container">
        <nav> 
            <div class="add-join-competition">
                <a href="#"> 
                    <i class="fas fa-plus"></i>
                </a>
            </div>

            <div class ="user-profile">
                <a href="#">
                    <i class="fas fa-user"></i>
                </a>
            </div>

            <div class ="settings">
                <a href="#">
                    <i class="fas fa-cog"></i>
                </a>
            </div>

            <div class="logout">
                <a href="#">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </nav>

        <main>
            <section>
                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomiceeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div> 

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomiceeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div> 

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomiceeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div>  

                <div class="competition">
                    <div class="inner-competition">
                        <h2>Zawody 1</h2>
                        <p>21.11.2021r.</p>
                        <p>Niepołomice</p>
                    </div>
                </div> 
            </section>
        </main>
    </div>
</body>