<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/map-mobile.css"> 
    <link rel="icon" href="../img/icon.svg">
    <script src="https://kit.fontawesome.com/8ac407c03d.js" crossorigin="anonymous"></script>
    <title>Fished - mapa</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <a href="#">
                <i class="fas fa-long-arrow-alt-left"></i>
            </a>
        </nav>

        <main>
            <div class="map"></div>
        </main>
    </div>
</body>