<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/profile.css"> 
    <link rel="icon" href="../img/icon.svg">
    <script src="https://kit.fontawesome.com/8ac407c03d.js" crossorigin="anonymous"></script>
    <title>Fished - profil</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class="add-photo">
                <a href="#">
                    <i class="fas fa-plus"></i>
                </a>
            </div>

            <div class="edit">
                <a href ="#">
                    <i class="fas fa-edit"></i>
                </a>
            </div>

            <div class="return">
                <a href="#">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>
        </nav>

        <main>
            <div class="user-photo">
                <div></div>
            </div>

            <section class="informations">
                <div>
                    <h2>Jan Kowalski</h3>
                    <h3>23.05.1964r.</h2>
                    <h3>730 234 512</h2>
                    <p>jan.kowalski@mail.com</p>
                </div>
            </section>

            <section class="gallery"> 
                <section class="gallery-inner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </section>
            </section>

            <section class="achievements-section">
                <section class="achievements-inner">
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                    <div class="achievement">
                        <p>I miejsce</p>
                        <p>Puchar Kocinki</p>
                        <div class = "cup-photo"></div>
                    </div>
                </section>
            </section>
        </main>
    </div>
</body>