body {
    margin: 0;
}

.base-container {
    height: 100vh;
    background: #548668 0% 0% repeat padding-box;
}

nav {
    position: absolute;
    left: 10px;
}

nav>div>a>i {
    font-size: 3em;
    color: white;
}

.attendee-list {
    position: fixed;
    top: 3em;
    height: calc(100% - 5em);
    width: calc(100% - 4em);

    margin: 0 2em 2em 2em;
    padding-right: 20px;

    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.attendee-list>div {
    border: 1px solid black;
    border-radius: 30px;

    min-height: 20vh;
    max-height: 20vh;
    background-color: #FECA4F;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.attendant-photo {
    grid-column: 1/2;
    grid-row: 1/2;

    aspect-ratio: 1/1;
    height: 80%;

    margin: 10px;

    border-radius: 50%;
    border: 1px solid black;

    align-self: center;
    justify-self: center;

    background: #FECA4F 0% 0% no-repeat padding-box;

    overflow: hidden;
}

.attendant-photo>img {
    height: 100%;
    width: 100%;

    background-size: contain;
}

.attendant-photo>div {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 20px;

    background: url('../img/logo.svg') 0% 50% no-repeat padding-box;
    background-size: contain;
}

.informations {
    grid-column: 2/4;
    grid-row: 1/2;

    white-space: nowrap;
    font: normal normal bold 12px/12px Arial;
    color: #116C73;

    align-self: center;
    margin: 0 10px 0 10px;

}

.more {
    grid-column: 4/5;
    grid-row: 1/2;

    justify-self: right;
    position: relative;
    right: 10px;
    top: 10px;
}

.more>a>i {
    font-size: 2em;
    color: #116C73;
}

.attendee-list::-webkit-scrollbar {
    width: 0.5vw;
  }
   
.attendee-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.attendee-list::-webkit-scrollbar-thumb {
    background-color: #FECA4F;
    outline: 1px solid #548668;
    
    border: 1px solid black;
    border-radius: 50%/1%;
}

@media only screen and (max-device-width: 900px) {
    nav>div>a>i {
        font-size: 5em;
    }
    
    .attendee-list {
        margin: 0 2em 3em 2em;
        top: 5em;

        height: calc(100% - 8em);
        width: calc(100% - 4em);
    }
    
    .attendant-photo {
        height: 60%;
    }
}

@media only screen and (max-device-width: 700px) {
    nav>div>a>i {
        font-size: 6em;
    }

    .attendee-list {
        display: flex;
        flex-direction: column;
        margin: 0 2em 3em 2em;
        top: 6em;

        height: calc(100% - 9em);
        width: calc(100% - 4em);
    }

    .attendee-list>div {
        border-radius: 3%/15%;
    
        min-height: 10vh;
        max-height: 10vh;
    }

    .informations, .more {
        font-size: 1.5em;
    }
}