body {
    margin: 0;
    overflow: hidden;
}

.base-container {
    height: 100vh;
    width: 100vw;

    background: #548668 0% 0% repeat padding-box;
}

nav {
    height: 10%;
    width: 100%;

    position: fixed;
    padding: 10px 20px;
}

nav>div>a>i, .overlay>div>a>i {
    font-size: 4em;
    color: white;
}

main {
    height: calc(90% - 50px);
    width: calc(100% - 100px);    

    position: fixed;
    top: calc(0px + 10%);

    overflow: hidden;

    margin: 0 50px 50px 50px;

    display: flex;
}

.photos {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(min-content, max-content);

    gap: 30px;

    overflow: auto;
}

.photos>div, .photos>a {
    aspect-ratio: 3/2;

    background-color: black;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photos>div {
    background-color: #e5b547;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.add-photo>form {
    height: 100%;
    width: 100%;

    text-decoration: none;

    background: #fec94fab;
    display: flex;
    align-items: center;
    justify-content: center;

    font: normal normal normal 12px/12px Arial;
    font-size: 3em;
    color: white;
}

label {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#comp {
    max-width: 75%;
}

.score {
    position: absolute;
    right: 0;
    z-index: 2;

    height: 100%;
    width: 25%;

    background: #FECA4F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font: normal normal normal 16px/16px Arial;
    color: #116C73;
}

.grade-photo {
    max-height: calc(100% - 40px);
    min-height: calc(30% - 40px);

    width: calc(100% - 40px);

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 80%;
}

textarea {
    height: 100%;

    padding: 15px;
    border-radius: 15px;
    resize: none;
}

.grade-container {
    max-width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grade {
    background: white;
    border: solid 1px black;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.add-photo>form:hover {
    background: rgba(232, 189, 77, 0.7);
}

.photos::-webkit-scrollbar, .achievements::-webkit-scrollbar {
    width: 0.8vw;
}
   
.photos::-webkit-scrollbar-track, .achievements::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.photos::-webkit-scrollbar-thumb, .achievements::-webkit-scrollbar-thumb {
    background-color: #116C73;
    outline: 1px solid #548668;

    border: 1px solid black;
    border-radius: 10px;
}

@media only screen and (max-device-width: 800px) {
    nav>div>a {
        font-size: 2em;
    }

    .photos {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-device-width: 430px) {
    .photos {
        grid-template-columns: repeat(3, 1fr);
    }
}