body {
    margin: 0;
}

.base-container {
    height: 100vh;
    background: #FECA4F 0% 0% repeat padding-box;
}

nav {
    position: fixed;
    right: 45%;

    margin-top: 20px;
    
}

nav>div>a>i {
    font-size: 3em;
    color: #116C73;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.informations {
    grid-column: 1/5;
    grid-row: 1/4;

    font: normal normal bold 16px/16px Arial;
    color: #116C73;

    display: flex;
    flex-direction: column;

    padding: 30px;
}

.informations>h1 {
    margin-top: 10px;
}

.informations>div {
    display: flex;
    flex-direction: row;
    
    gap: 50px;
}

.informations>div>div{
    display: flex;
    flex-direction: column;
}

.desktop-view {
    height: 100%;
    width: 100%;

    grid-column: 1/8;
    grid-row: 1/7;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.news {
    grid-column: 1/5;
    grid-row: 4/7;

    margin: 0 0 10px 10px;

    border-radius: 20px;
    border: 1px solid #000000;
    background: #548668 0% 0% repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.inner-news {
    width: calc(100% - 30px);
    height: calc(100% - 30px);

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-y: auto;

    font: normal normal bold 16px/16px Arial;
    color: #116C73;
}

.inner-news>a, .add-announcement {
    max-height: 13vh;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #FECA4F;
}

.inner-news>a {
    justify-content: space-between;
}

.add-announcement {
    justify-content: flex-start;
    gap: 30px;
    padding: 10px 20px;

    color: #116C73;
    text-decoration: none;
}

.add-announcement>i {
    font-size: 2.2em;
}

.inner-news>a>div {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.inner-news>a>img {
    border: 1px solid black;
    height: 80%;
    aspect-ratio: 1/1;
    margin-right: 1vw;

    background-size: contain;
    overflow: hidden;
}

.announcement {
    height: 90%;
    width: 60%;

    overflow-x: hidden;
    overflow-y: hidden;

    border-radius: 30px;
}

.announcement>div {
    height: calc(100% - 40px);
    width: calc(100% - 40px);

    overflow-x: hidden;
    overflow-y: auto;

    padding: 20px;
    background-color: #FECA4F;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.announcement>div>img {
    max-width: 90%;
    max-height: 50%;
    margin: 20px;

    border: solid 1px black;
    border-radius: 20px;

    background-size: contain;
}

.announcement>div>* {
    color: #116C73;
    text-decoration: none;
}

.announcement>div>div>h1 {
    margin-top: 0;
}

#content, #attachment, #label {
    align-self: flex-start;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.gallery-inner>a{
    aspect-ratio: 1/1.5;

    background-color: #e5b547;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-news>a {
    color: #116C73;
    text-decoration: none;
}

.map {
    grid-column: 5/8;
    grid-row: 1/4;

    margin: 20px 20px 0 0;

    border: 1px solid #116C73;
    border-radius: 20px;

    background-color: #116C73;
    box-shadow: 0px 3px 6px #00000029;
}

.icons {
    grid-column: 5/8;
    grid-row: 4/7;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.icons>div>a {
    height: 15vh;
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-color: #116C73;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-view {
    display: none;
}

.icons>div>a>i {
    color: white;
    font-size: 2em;
}

.inner-news::-webkit-scrollbar, .announcement>div::-webkit-scrollbar {
    width: 0.8vw;
  }
   
.inner-news::-webkit-scrollbar-track, .announcement>div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.inner-news::-webkit-scrollbar-thumb, .announcement>div::-webkit-scrollbar-thumb {
    outline: 1px solid #548668;
    border: 1px solid black;
    border-radius: 50%/2%;
}

.inner-news::-webkit-scrollbar-thumb {
    background-color: #FECA4F;
}

.announcement>div::-webkit-scrollbar-thumb {
    background-color: #116C73;
}

@media only screen and (max-device-width: 770px) {
    .icons>div>a {
        height: 10vh;
    }
}

@media only screen and (max-device-width: 430px) {
    .desktop-view, nav {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .informations {
        grid-column: 1/3;
        grid-row: 1/3;

        font-size: 3em;

        align-items: center;
        margin-top: 20px;
    }

    .mobile-view {
        grid-column: 1/3;
        grid-row: 3/6;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        align-items: center;
        justify-items: center;
    }

    .map-icon {
        grid-column: 1/2;
        grid-row: 1/2; 
    }

    .return-mobile {
        grid-column: 2/3;
        grid-row: 1/2; 
    }

    .uploaded-photo-mobile {
        grid-column: 1/2;
        grid-row: 2/3; 
    }
    
    .news-mobile {
        grid-column: 2/3;
        grid-row: 2/3; 
    }

    .score-list-mobile {
        grid-column: 1/2;
        grid-row: 3/4; 
    }

    .attendees-mobile {
        grid-column: 2/3;
        grid-row: 3/4; 
    }


    .mobile-view>div>a {
        height: 15vh;
        aspect-ratio: 1/1;
        border-radius: 50%;

        background-color: #116C73;
        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-view>div>a>i {
        color: white;
        font-size: 4em;
    }
}