body {
    margin: 0;
}

.base-container {
    width: 100vw;
    height: 100vh;
    background: #FECA4F 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 30%;
    text-align: center;
}

.login-container {
    height: 40%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40vw;

    background: #FCFCFCCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 150px;
}

input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 22px;
    margin: 1em;
    width: 60%;
    line-height: 2.5em;
    text-align: center;
}

button {
    background: #FECA4F 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000029;
    border-radius: 20px;
    width: 30%;
    border: none;
    font: normal normal thin 14px/14px Arial;
    color: #116C73;
    margin: 1em;
    line-height: 2.5em;
}

.register {
    margin-top: 1em;
}

a {
    font: normal normal normal 16px/16px Arial;
    color: white;
    text-shadow: #707070;
}

input::placeholder {
    opacity: 0;
}

@media only screen and (max-device-width: 500px) {
    *, a {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form.login {
        width: 90%;
        margin: auto;
    }

    input, button {
        width: 70%;
    }

    img {
        height: 5em;
        margin: 2em;
    }
}
