.join-competition, .add-form {
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
    background-color: #FECA4F;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.join-competition {
    height: 30%;
    width: 20%;

    flex-direction: column;

    font: normal normal normal 16px/16px Arial;
    color: #116C73;
}

.add-form>h1 {
    justify-self: center;
    position: absolute;
    top: 10%;
    font-size: 2em;
}

.add-form>.left-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.add-form>* {
    font: normal normal bold 16px/16px Arial;
    color: #116C73;
}

/*.inner-buttons {*/
/*    background: #116C73 0% 0% no-repeat padding-box;*/
/*    box-shadow: 0px 2px 2px #00000029;*/
/*    border-radius: 20px;*/
/*    width: 100%;*/
/*    border: none;*/
/*    font: normal normal normal 14px/14px Arial;*/
/*    margin-top: 40px;*/
/*    color: white;*/
/*    line-height: 2.5em;*/

/*    text-decoration: none;*/
/*}*/

.right-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-form>div {
    width: 50vw;
    height: 60vh;

    border-radius: 20px;
    border: solid 1px black;

    background-color: #548668;
    overflow: hidden;
}