body {
    height: 100vh;
    margin: 0;
}

.base-container {
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

nav {
    height: 15vh;
    background-color: #32796D;

    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 50px;
    padding: 0 20px;
}


.add-join-competition {
    margin-right: auto;

    height: 10vh;
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-color: #FECA4F;
}

.add-join-competition>a {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

i {
    font: normal normal bold 16px/16px Arial;
    color: white;
    font-size: 3.5em;
}

main {
    top: calc(15vh + 1px);
    height: calc(100vh - 15vh - 1px);
    width: 100vw;
    background-color: #769463;

    position: fixed;
    overflow-y: auto;
}

section {
    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 20px;
}

.competition {
    min-height: 15vh;
    max-height: 15vh;

    background-color: #FECA4F;

    border: 1px solid black;
    border-radius: 30px;

    font: normal normal bold 20px/20px Arial;
    color: #116C73;

    overflow: hidden;

    display: flex;
    align-items: center;

    text-decoration: none;
}

.inner-competition {
    height: calc(100% - 40px);
    width: calc(100% - 40px);

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;
    padding: 20px 20px;

    overflow: auto;
    white-space: nowrap;
}


main::-webkit-scrollbar {
    width: 0.8vw;
}
   
main::-webkit-scrollbar-track, .inner-competition::-webkit-track {
    box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.3);
}
   
main::-webkit-scrollbar-thumb {
    background-color: #FECA4F;
    outline: 1px solid #548668;

    border: 1px solid black;
    border-radius: 50%/2%;
}

.inner-competition::-webkit-scrollbar {
    height: 0.5vw;
}

.inner-competition::-webkit-scrollbar-thumb {
    background-color: #548668;
    outline: 1px solid #548668;

    border: 1px solid black;
    border-radius: 0.5%/50%;
}

@media only screen and (max-device-width: 500px) {
    .base-container {
        flex-direction: column-reverse;
    }

    main {
        top: 0;
        height: calc(100vh - 10vh - 3px);
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .inner-competition {
        height: calc(100% - 40px);
        width: calc(100% - 20px);

        overflow-x: scroll;

        display: flex;
        flex-direction: column;

        align-items: flex-start;
        gap: 0;

        padding: 20px 10px;  
    }

    .inner-competition>* {
        font-size: 2em;
        margin: 20px;
    }

    nav {
        height: 10vh;
        border-top: solid 1px black;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;

        justify-items: center;
    }

    nav>div {
        grid-row: 1/2;
    }

    .add-join-competition {
        grid-column: 3/4;
        grid-row: 1/2;

        height: 8vh;
        margin-right: 0;
    }   

    .user-profile {
        grid-column: 1/2;
    }

    .settings {
        grid-column: 2/3;
    }

    .logout {
        grid-column: 5/6;
    }

    i {
        font-size: 5em;
    }

    .inner-competition::-webkit-scrollbar {
        height: 1vw;
    }
    
    .inner-competition::-webkit-scrollbar-thumb {
        background-color: #548668;
        outline: 1px solid #548668;
    
        border: 1px solid black;
        border-radius: 3%/50%;
    }
}
