.marker {
    background-image: url('/public/img/pin.png');
    background-size: cover;
    height: 30px;
    aspect-ratio: 0.73448/1;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 300px;
}