body {
    margin: 0;
}

.base-container {
    height: 100vh;
    background: #548668 0% 0% repeat padding-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

nav {
    position: fixed;
    right: 0;

    width: 20vw;
    height: 8vh;
    
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

i {
    font-size: 3em;
    color: white;
}

.user-photo {
    grid-column: 1/3;
    grid-row: 1/4;

    max-height: 85%;
    aspect-ratio: 1/1;

    margin: 30px;

    border-radius: 50%;
    border: 1px solid #000000;
    box-shadow: 0px 3px 6px #00000029;
    background: #FECA4F 0% 0% no-repeat padding-box;

    overflow: hidden;
}

.user-photo>div {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    background: url('../img/logo.svg') 0% 50% no-repeat padding-box, #FECA4F 0% 0% no-repeat padding-box;

    background-size: contain;
}

.informations { 
    grid-column: 3/5;
    grid-row: 1/4;

    margin: 10px;

    display: flex;
    overflow: auto;

    white-space: nowrap;
}

.informations>div{
    font: normal normal bold 24px/24px Arial;
    color: white;
}

.gallery {
    grid-column: 5/8;
    grid-row: 2/7;

    margin: 10px;

    border-radius: 30px;
    border: 1px solid #000000;
    background: #FECA4F 0% 0% repeat padding-box;
    box-shadow: 0 3px 6px #00000029;

    overflow: hidden;
}

.gallery-inner{
    width: calc(100% - 60px);
    height: calc(100% - 60px);

    padding: 30px;

    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 30px;
}

.gallery-inner>a{
    aspect-ratio: 1/1.5;

    background-color: #e5b547;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-inner>a>img {
    max-height: 100%;
    max-width: 100%;

}

.achievements-section {
    grid-column: 1/5;
    grid-row: 4/7;

    margin: 10px;

    border-radius: 30px;
    border: 1px solid #000000;
    background: #FECA4F 0% 0% repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    overflow: hidden;
}

.achievements-inner{
    width: calc(100% - 60px);
    height: calc(100% - 60px);

    padding: 30px;

    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.achievements-inner>div {
    border: 1px solid #000000;
    aspect-ratio: 1/1.5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font: normal normal bold 14px/14px Arial;
    color: white;

    background: #7694634D 0% 0% no-repeat padding-box;
}

.achievements-inner>div>p{
    margin: 0;
}

.cup-photo{
    border: 1px solid #000000;
    border-radius: 50%;

    min-height: 50%;
    max-height: 50%;

    aspect-ratio: 1/1;
}

.image-overlay {
    height: 100vh;
    width: 100vw;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;
}

.back-profile, .delete-photo {
    /*display: none;*/
    position: absolute;
    top: 10px;
}

.back-profile {
    left: 20px;
}

.delete-photo {
    right: 20px;
}

.image-overlay>img {
    /*height: 100%;*/
    /*width: 100%;*/

    max-height: 90%;
    max-width: 90%;
}

.mobile-icons {
    display: none;
}

.achievements-inner::-webkit-scrollbar, .gallery-inner::-webkit-scrollbar, .informations::-webkit-scrollbar {
    width: 0.8vw;
  }
   
  .achievements-inner::-webkit-scrollbar-track, .gallery-inner::-webkit-scrollbar-track, .informations::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.achievements-inner::-webkit-scrollbar-thumb, .gallery-inner::-webkit-scrollbar-thumb, .informations::-webkit-scrollbar-thumb {
    background-color: #116C73;
    outline: 1px solid #548668;

    border: 1px solid black;
    border-radius: 10px;
}

@media only screen and (max-device-width: 500px) {
    .gallery, .achievements-section, .add-photo, .edit {
        display: none;
    }

    .return>a {
        font-size: 3em;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .user-photo {
        min-height: 25%;
        max-height: 25%;
    }

    .informations {
        height: 25%;

        margin: 0 10%;
        justify-content: flex-start;
    }

    .informations>div {
        gap: 50px;
        font-size: 3em;
    }

    .mobile-icons {
        height: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .mobile-icons>a {
        max-height: 30%;
        min-width: 80%;
        background-color: #FECA4F;
        border: 1px solid black;
        border-radius: 40px;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;
        gap: 100px;

        font-size: 2em;
        color: white;
        text-decoration: none;
    }

    .mobile-icons>a>i {
        font-size: 2em;
    }
}