body {
    margin: 0;
}

.base-container {
    height: 100vh;
    background: #548668 0% 0% repeat padding-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

nav {
    position: fixed;
    right: 0;

    width: 15vw;
    height: 8vh;

    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>div>a>i{
    font-size: 3em;
    color: white;
}

.user-photo {
    grid-column: 1/3;
    grid-row: 1/4;

    margin: 30px;

    border-radius: 50%;
    border: 1px solid #000000;
    box-shadow: 0px 3px 6px #00000029;
    /* background: #FECA4F 0% 0% repeat content-box; */
    background: url('../img/logo.svg') 0% 50% no-repeat padding-box, #FECA4F 0% 0% no-repeat padding-box;
    background-size: contain;
}

.informations { 
    grid-column: 3/5;
    grid-row: 1/4;

    margin: 30px;

    display: flex;

}

.informations>div{
    font: normal normal bold 24px/24px Arial;
    color: white;
}

.gallery {
    grid-column: 5/8;
    grid-row: 2/7;

    margin: 10px;
    padding: 30px;

    border-radius: 10%;
    border: 1px solid #000000;
    background: #FECA4F 0% 0% repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
}

.gallery>div{
    border: 1px solid #000000;
}

.achievements {
    grid-column: 1/5;
    grid-row: 4/7;

    margin: 10px;
    padding: 30px;

    border-radius: 10% / 20%;
    border: 1px solid #000000;
    background: #FECA4F 0% 0% repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.achievements>div{
    border: 1px solid #000000;
}