body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #FECA4F 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 30%;
    text-align: center;
}

.login-container {
    height: 40%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40vw;

    background: #FCFCFCCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 143px;
}

button {
    background: #FECA4F 0% 0% no-repeat padding-box;
    box-shadow: 0px 9px 9px #00000029;
    border-radius: 22px;
    width: 50%;
    border: none;
    color: #116C73;
    margin: 1em;
    line-height: 2.5em;
}

input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 22px;
    margin: 1em;
    width: 50%;
    line-height: 2.5em;
    text-align: center;
}

.base-containter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}

nav {
    width: 100vw;
    height: 20vh;
    background: #32796D 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

main {
    width: 100vw;
    height: 80vh;
    background: #769463 0% 0% no-repeat padding-box;
}

@media only screen and (max-device-width: 430px) {
    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        width: 90%;
        margin: auto;
    }

    input, button {
        width: 70%;
    }

    img {
        height: 5em;
        margin: 2em;
    }
}